name: CI/CD to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: npm test

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Copy project to EC2
        run: |
          scp -o StrictHostKeyChecking=no -i key.pem -r ./* \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:${{ secrets.EC2_PATH }}

      - name: Run deploy script on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
          "chmod +x ${{ secrets.EC2_PATH }}/deploy.sh && sudo ${{ secrets.EC2_PATH }}/deploy.sh"
